<div class="card mt-3">
    <div class="card-header">
        Customers
    </div>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="input-group">
                <label class="input-group-text">Keyword :</label>
                <input type="text" class="form-control" formControlName="keyword" />
            </div>
        </form>
        <table class="table table-bordered table-striped table-hover mt-3" *ngIf="isLoading">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @if (customers.length > 0) {
                    @for (customer of customers; track $index) {
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>
                                <button (click)="deleteCustomer(customer)" class="btn btn-sm btn-danger p-1">
                                  <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                @else {
                    <tr>
                        <td colspan="4">There is No Data Available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
